node_modules
.next/cache/webpack/client-development/13.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/13.pack
*.pack
*.pack
*.old
*.pack
*.pack
*.old
*.pack
*.pack
*.pack
*.pack
*.old
*.pack
*.pack
*.pack
*.pack
*.pack
*.pack
*.old
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/12.pack
.next/cache/webpack/server-development/13.pack
.next/static/chunks/webpack.js
.next/trace
.next/cache/webpack/server-development/index.pack
.next/trace
webpack
.next
client-development
server-development
webpack
cache
.vercel
