node_modules
.next/cache/webpack/client-development/13.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/13.pack
*.pack
*.pack
*.old
*.pack
*.pack
*.old
*.pack
*.pack
*.pack
*.pack
*.old
